<!-- display_data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display Data</title>
  <style>
    /* Add some CSS styles for the images */
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto; /* Center the images */
      width: 400px; /* Set a specific width */
      height: 700px; /* Set a specific height */
    }
  </style>
</head>
<body>

  <h2>Student Data</h2>

  {% if data %}
    <ul>
      {% for student in data %}
        <li>{{ student.first_name }} {{ student.last_name }} - Date of Birth: {{ student.dob }}</li>
        <img src="{{ student.photo_path }}" alt="Photo">
      {% endfor %}
    </ul>
  {% else %}
    <p>No data found.</p>
  {% endif %}

</body>
</html>
